<html>
    <style>
          table,th,tr,td{
              border: 2px solid black;
              border-collapse:collapse;
				
                           }</style>
<body>
   <p align="center">
<table  >
<form action="." method ="POST">
<tr><td <p style="color:green"> Home Automation </p> <label> </label></td></td>
<tr><td>Userame:<input type="text" name="name"/></td></tr>
<tr><td >Password:<input type="password" name="password"/></td></tr>
<tr><td ><input type="submit"value="Submit"/>
<input type="reset" value="Reset"/></td></tr>


</tr>
</form>
</table>
</p>
</body>
</html>


