<html>
<head><title>User Login</title>
    {% load static %}
     
    
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>

<body>

    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="AboutUs">About Us</a></li>
        <li><a href="http://127.0.0.1:8000/admin/auth/user/">Info</a></li>
   </ul>
<form class="dash">
    
<table >

<div class="fm">

<b>IOT Based Home Automation</b>
</div>

<input type="button" onclick="window.location.href='http://169.254.81.214:1880/ui/#!/0?socketid=scGOs4D8z_FUpGZHAAAI';" value="Dash Board" /> 
<input type="button" onclick="window.location.href='http://169.254.81.214:1880/#flow/c20877c4.54baa8';" value="Work Banch" />



</table>
</form>
<body>
</html>