<html>
<head><title>Home</title>{% load static %}
     
    
    <link rel="stylesheet" href="{% static 'style.css' %}"/></head>
<body class="home back">
<ul>
     
     <li><a href="AboutUs.php">About Us</a></li>
     <li><a href="#">Help</a></li>
</ul>

<p class="new"><b> IOT Based Home Automation </b></p>
<div class="welcome">
<input type="button" onclick="window.location.href='login';" value="Login" />
<label class="i"> made in <b><label class="in">IN</label><label class="ind">D</label><label class="indi">IA</label></b></label>
<div class="welcome">
</div>
</body>
</html>